<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="accountService" class="com.wong.service.impl.AccountServiceImpl"></bean>

    <!--配置切面类（增强）-->
    <bean id="logUtil" class="com.wong.utils.LogUtil"></bean>

    <!--配置AOP-->
    <aop:config>
        <!--配置 通用的 切入点表达式-->
        <aop:pointcut id="pc" expression="execution(* com.wong.service..*.*(..))"/>
        <!--配置切面-->
        <aop:aspect id="logUtil" ref="logUtil">
            <!--配置 前置增强：执行时机 在切入点方法执行前执行-->
            <aop:before method="beforePrintLog" pointcut-ref="pc"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>