# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\self_taught_java\黑马程序员-2020\spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
