<component name="ArtifactManager">
  <artifact type="war" name="spring_mvc_09_ssm:war">
    <output-path>$PROJECT_DIR$/spring_mvc_09_ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_mvc_09_ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_mvc_09_ssm.war">
      <element id="artifact" artifact-name="spring_mvc_09_ssm:war exploded" />
    </root>
  </artifact>
</component>